@import "tailwindcss";

@theme {
    --color-primary: #3b82f6;
    --color-primary-dark: #1d4ed8;
    --color-secondary: #7C3AED;


    --color-text-heading: #0f172a;
    --color-text-body: #334155;


    --color-background: #ffffff;
    --color-background-alt: #f8fafc;


    --font-main: "Tajawal", sans-serif;
    --font-heading: "Cairo", sans-serif;
}
